*{
    margin: 0;
    padding: 0;

}
.body{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.head{
    text-align: center;
    color: aqua;
    justify-content: center;
    text-align: center;
   display: inline-block;
   text-decoration: none;
   color: #fbfbfb;
   border: 1px solid #000;
   padding: 1px 34px;
   background-color: #00ad5f; ;
   margin: 9px;
   background-position: center;
  position: absolute;
  left:36%;
  
}
@media (max-width:700px){
     .body{
         max-width: 100%;
         height: auto;
         margin: auto;
         margin-top: 20px;


     }
}

@media (max-width:700px){
    .head{
        text-align: center;
        font-size: smaller;
        padding: 1px 12px;
        justify-content: center;
        left: 30%;

    }
}